section.vid.vid1 { /* Each video has a different length, so each section has to have a corresponding scroll height. I set it to be the number of seconds * 1250 pixels, so the scrolling feels consistent across each page. */
    height: 36250px;
}

.textRange1 { 
    animation-range: 1250px 3750px;
}

.textRange2 {
    animation-range: 6250px 8750px;
}

.textRange3 {
    animation-range: 11250px 13750px;
}

.nextPageRange {
    animation-range: 35000px 36250px;
}

.captionsRange1{
    animation-range: 15000px 16600px;
}

/* Points of Interest */

.colosseumRange{
    animation-range: 16660px 22500px;
}

.colossusSolisRange{
    animation-range: 16660px 26000px;
}

.templeOfVenusRange{
    animation-range: 17000px 26600px;
}


.metaSudansFountainRange{
    animation-range: 16250px 18750px;
}

.archOfConstantineRange{
    animation-range: 15830px 18000px;
}

.mapRange{
    animation-range: 14000px 35250px;
}

/* <!-- Colossus Solis, Temple of venus and Roma, Meta Sudans fountain, Arch of Constantine --> */

.colossusSolisButton {

    position: fixed;
    top: 10%;
    left: 83%

}

.templeOfVenusButton {

    position: fixed;
    top: 8%;
    left: 10%;

}

.metaSudansFountainButton {

    position: fixed;
    bottom: 8%;
    left: 40%

}

.archOfConstantineButton {

    position: fixed;
    bottom: 6%;
    left: 20%

}

.colosseumButton {

    position: fixed;
    bottom: 10%;
    right: 10%;

}