section.vid.vid2 {
    height: 46250px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 45250px 46250px;
}

.captionsRange1{
    animation-range: 3000px 4660px;
}

.captionsRange2{
    animation-range: 26000px 27660px;
}

.captionsRange3{
    animation-range: 33000px 34660px;
}

.captionsRange4{
    animation-range: 39000px 40660px;
}

/* Points of Interest */

.culturalStorage {
    animation-range: 7000px 12000px;
}

.porticoPax {
    animation-range: 6000px 25000px;
}

.templeOfMinerva {
    animation-range: 28000px 30000px;
}

.uglyColumns {
    animation-range: 27000px 32000px;
}

.marsUltor {
    animation-range: 41000px 45000px;
}

.forumAugustus {
    animation-range: 41200px 45000px;
}

.forumCaesar {
    animation-range: 33000px 35000px;
}

.forumNerva {
    animation-range: 27000px 32000px;
}

.forumPeace {
    animation-range: 6000px 25000px;
}

/* Points of Interest Buttons (Placeholders for Now)*/

.culturalStorageButton {

    position: fixed;
    bottom: 10%;
    left: 50%;

}

.porticoPaxButton {

    position: fixed;
    top: 10%;
    left: 13%

}

.templeOfMinervaButton {

    position: fixed;
    top: 10%;
    left: 50%

}

.uglyColumnsButton {

    position: fixed;
    top: 50%;
    left: 13%

}

.marsUltorButton {

    position: fixed;
    top: 10%;
    left: 50%;

}

.forumAugustusButton {

    position: fixed;
    top: 10%;
    left: 83%

}

.forumCaesarButton {

    position: fixed;
    top: 10%;
    left: 83%

}

.forumNervaButton {

    position: fixed;
    top: 10%;
    left: 83%

}

.forumPeaceButton {

    position: fixed;
    top: 10%;
    left: 83%

}