section.vid.vid2 {
    height: 46250px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 45250px 46250px;
}

.captionsRange1{
    animation-range: 3000px 4660px;
}

.captionsRange2{
    animation-range: 26000px 27660px;
}

.captionsRange3{
    animation-range: 33000px 34660px;
}

.captionsRange4{
    animation-range: 39000px 40660px;
}