section.vid.vid4 {
    height: 33750px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 32750px 33750px;
}

.captionsRange1{
    animation-range: 3000px 4660px;
}

.captionsRange2{
    animation-range: 22000px 23660px;
}

/* Points of Interest */

.templeOfMinerva {
    animation-range: 5000px 10000px;
}

.divorum {
    animation-range: 5000px 10000px;
}

.minuciaFrumentaria {
    animation-range: 24000px 29000px;
}

.templeofNymphs {
    animation-range: 24000px 29000px;
}

.theatreOfBalbus {
    animation-range: 26000px 29000px;
}