section.vid.vid4 {
    height: 40500px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 26000px 27000px;
}

.captionsRange1{
    animation-range: 14000px 17000px;
}