section.vid.vid5 {
    height: 17500px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 16500px 17500px;
}

.captionsRange1{
    animation-range: 3000px 4660px;
}

/* Points of Interest */

.largoArgentina{
    animation-range: 5000px 16500px;
}

.templeJuturna {
    animation-range: 5000px 12500px;
}

.templeFurtunaHuiusceDiei {
    animation-range: 5000px 13500px;
}

.templeFeronia {
    animation-range: 5000px 14500px;
}

.templeLaresPermarini {
    animation-range: 5000px 15500px;
}
