section.vid.vid5 {
    height: 17500px;
}

.titleRange {
    animation-range: 0px 1000px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 16500px 17500px;
}

.captionsRange1{
    animation-range: 3000px 4660px;
}

/* Points of Interest */

.largoArgentina{
    animation-range: 6000px 16500px;
}

.templeJuturna {
    animation-range: 11500px 13500px;
}

.templeFurtunaHuiusceDiei {
    animation-range: 10000px 11500px;
}

.templeFeronia {
    animation-range: 8000px 11000px;
}

.templeLaresPermarini {
    animation-range: 8000px 10500px;
}

.mapRange{
    animation-range: 0px 16500px;
}

.templeJuturnaButton {

    position: fixed;
    top: 10%;
    left: 50%

}

.templeFurtunaHuiusceDieiButton {

    position: fixed;
    top: 80%;
    left: 50%

}

.templeFeroniaButton {

    position: fixed;
    top: 40%;
    left: 43%

}

.templeLaresPermariniButton {

    position: fixed;
    top: 30%;
    left: 33%

}

.largoArgentinaButton {

    position: fixed;
    top: 10%;
    left: 83%

}
