section.vid.vid6 {
    height: 47500px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 46500px 47500px;
}

.captionsRange1{
    animation-range: 3000px 4660px;
}

.captionsRange2{
    animation-range: 44000px 45660px;
}

/* Points of Interest */
.gardensOfAgrippa{
    animation-range: 5000px 40000px;
}

.bathsOfAgrippa {
    animation-range: 10000px 20000px;
}

.basilicaOfNeptune {
    animation-range: 20000px 30000px;
}

.bathsOfAlexanderSeverus {
    animation-range: 30000px 40000px;
}

.gardensOfAgrippaButton {

    position: fixed;
    top: 10%;
    left: 83%

}

.bathsOfAgrippaButton {

    position: fixed;
    top: 10%;
    left: 83%

}

.basilicaOfNeptune {

    position: fixed;
    top: 10%;
    left: 83%

}

.bathsOfAlexanderSeverus {

    position: fixed;
    top: 10%;
    left: 83%

}