section.vid.vid7 {
    height: 21250px;
}

.titleRange {
    animation-range: 0px 1000px;
}

.textRange1 { 
    animation-range: 1000px 3000px;
}

.textRange2 {
    animation-range: 5000px 7000px;
}

.textRange3 {
    animation-range: 9000px 11000px;
}

.nextPageRange {
    animation-range: 20250px 21250px;
}

.captionsRange1{
    animation-range: 4000px 5660px;
}

.mapRange{
    animation-range: 0px 20250px;
}

/* Points of Interest */

.thePantheon {
    animation-range: 6000px 20000px;
}

.thePantheonButton {

    position: fixed;
    top: 10%;
    left: 83%

}
