section.vid div.holder {
    position: sticky;
    top: 0;
}

section.vid video {
    height: 100%;
    object-fit: cover;
    width: 100%;
    z-index: 1;
}

a:visited { /*keep the link the same colour after it has been visited */
    color:rgb(212, 198, 126);
    text-decoration: none;
}

h1 {
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    color: inherit;
}

body {
    background-color: white;
    text-align: center;
}

.overlayText { /* Cinematic overlay text, this text is 'big picture' captions that should be large and center */
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
    font-weight: lighter;
    position: fixed;    
    z-index: 2;
    display: flex;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
}

.overlayText h2{

    font-size: 40px;
    width: 100%;
    bottom: 10%;
    
    font-weight: lighter;
    position: fixed;    
    z-index: 2;
    font-family: "Times New Roman", Times, serif;

    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    align-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    
}

.nextPageButton a {
    transform: translateX(-50%);
    position: fixed;
    height: 200px;
    width: 200px;
    bottom: 10%;
    z-index: 3;
    left: 50%;

    background-color: rgba(255, 255, 255, 0);
    border-color: #F6CEA0;
    border-style: solid;
    color: white;

    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    align-content: center;
    align-items: center;
    text-align: center;
    display:flex;
    
    border-width: 2px;
    border-radius: 50%;
    
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;

    transition:all 0.5s ease-in-out;
}

.nextPageButton a:hover { /* Changes the button when hovered over */
    
    background-color: white;
    border-color: white;
    color: #F6CEA0;

}

.informationButton {
    background-color: rgba(255, 255, 255, 0);
    border-color: #F6CEA0;
    border-style: solid;
    color: white;

    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    align-content: center;
    align-items: center;
    text-align: center;
    display:flex;

    position: fixed;
    height: 130px;
    width: 130px;
    font-size: large;

    z-index: 3;

    border-width: 2px;
    border-radius: 50%;
    
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;

    transition:all 0.5s ease-in-out;
}

.informationButton:hover {

    background-color: white;
    border-color: white;
    color: #F6CEA0;
}

.fadeText { /* Creates the animation that the text calls on */
    animation: fadeText cubic-bezier(0.25, 0.46, 0.45, 0.94) both; /* sets up an animation */
    animation-timeline: scroll(root); /* sets the animation to using scroll as a timeline, rather than time */
}

.buttonState { /* Creates the animation that the button (the page swapper) calls on */
    animation: buttonState linear both;
    animation-timeline: scroll(root);
}

.infoFade {
    animation: infoFade linear both;
    animation-timeline: scroll(root);
}

/* This sets the range that keyframes will act within */


@keyframes fadeText{ /* This determines at which point in the timeline different things happen, e.g. set opacity to 1 between 20% and 80% of the way through */
    0% {
        opacity: 0;
        filter:drop-shadow(0px 0px 0px rgba(black, 0));
        transform: translateY(30px);
    }
    20%, 80% {
        opacity: 1;
        filter:drop-shadow(4px 4px 8px rgba(black, 1));
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
    }
} 

@keyframes buttonState{
    0% {
        opacity: 0; 
        pointer-events: none;
    }
    20%, 100% {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes infoFade {
    0% {
        opacity: 0;
        filter:drop-shadow(0px 0px 0px rgba(black, 0));
        transform: translateY(30px);
    }
    10%, 90% {
        opacity: 1;
        filter:drop-shadow(4px 4px 8px rgba(black, 1));
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
    }
} 